export GH_ORG=kubernetes-sigs
export GH_REPO=cluster-api-provider-aws
export VERSION=v0.4.5
export VERSION_FOLDER=clusterawsadm
export ARTIFACT=clusterawsadm-darwin-amd64
export TAP_RUBY_FILE=cluster-api-provider-aws.rb
