export GH_ORG=helm
export GH_REPO=chart-releaser
export VERSION=v0.2.2
export VERSION_FOLDER=chart-releaser
export ARTIFACT=chart-releaser_0.2.2_darwin_amd64.tar.gz
export TAP_RUBY_FILE=chart-releaser.rb
